$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
// @import '~bootstrap/scss/bootstrap';

$background-color: #919ade;
$font-color: #dfdfdf;
$white: #fff;
$grey: rgb(128, 128, 128);
$teal: rgb(0, 156, 161);
$black: #000;
$blue: rgb(65, 105, 225);
$red: rgb(240, 128, 128);

body {
  align-content: center;
  background-color: $background-color;
  text-align: center;
}

.box {
  align-items: center;
  border: 1px solid $white;
  color: $font-color;
  display: flex;
  height: 80px;
  justify-content: center;
}

.grey {
  background-color: grey;
}

.blue {
  background-color: $blue;
}
